<section class="instructor-stats container-fluid section-gray text-center">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="section-title margin-bottom-1">
                    <%= stat_one %>
                </h2>
                <p class="paragraph">
                    <%= stat_one_title %>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="section-title margin-bottom-1">
                    <%= stat_two %>
                </h2>
                <p class="paragraph">
                    <%= stat_two_title %>
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <h2 class="section-title margin-bottom-1">
                    <%= stat_three %>
                </h2>
                <p class="paragraph">
                    <%= stat_three_title %>
                </p>
            </div>
        </div>
    </div>

</section>
